<footer>
    <div id="contact_me" class="Contact-me">
        <p>Let Me Get You A Beautiful Website.</p>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/sweakshya.shrestha.7"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/shrestha.sweakshya/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/in/sweakshya-shrestha-1a1a61244/"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <a class="button-two" href="#">Hire Me</a>


    </div>
</footer>