

 <header>
    <nav>
        <a href="{{ url_for('landing_page') }}"><h2 class="logo">Portfo<span>lio</span></h2></a>
        <ul style="font-size: 16px;">
            <li {% if request.path == url_for('landing_page') %}class="active"{% endif %}><a href="{{ url_for('landing_page') }}">Home</a></li>
            <li {% if request.path == url_for('about') %}class="active"{% endif %}><a href="{{ url_for('about') }}">About Me</a></li>
            <li {% if request.path == url_for('resume') %}class="active"{% endif %}><a href="{{ url_for('resume') }}">Resume</a></li>
            <li {% if request.path == url_for('contact') %}class="active"{% endif %}><a href="{{ url_for('contact') }}">Contact Me</a></li>
        </ul>
        <a href="{{ url_for('download_resume_pdf') }}" class="btn" style="font-size: 16px;" >Download CV </a>
    </nav>
</header>
