{% extends 'front/layouts/layout.html' %}

{% block main_content %}
<!-- about section starts -->
<section id="about_me" class="about">
    <div class="main">
        <div class="image-about">
            <img src="../static/images/backgroung.jpg" alt="me">

        </div>
        <div class="about-text">
            <h2>I Can Design Anything You Want</h2>
            <h5>Developer <span>& Designer</span></h5>
            <p>
                {{info_dict['about']}}
            </p>
            <button type="button"> Let's Talk</button>
        </div>
    </div>
</section>

<div id="services" class="service">
    <div class="titlee">
        <h1>What <span style="color: red;">I Do For</span> Clients</h1>
        <p>Creating stunning websites that exceed expectations.</p>
    </div>

    <div class="box">
        {% for service in services%}
        <div class="card">
            <img src="{{ service.images}}" alt="{{ service.title }}">
            <h5>{{service.title}}</h5>
            <div class="pra">
                <p>
                    {{ service.truncated_desc }}
                </p>

                <p style="text-align: center;">
                    <a class="button" href="#">Read More</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}